<footer class="footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="logo">
                        <a href="/">
                            DronAvtoRepair
                            <span>.</span>
                        </a>
                    </h2>
                    <p>Ремонт и техническое обслуживание всех марок легковых автомобилей.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Услуги</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Замена масла</a></li>
                        <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Мелкосрочный ремонт</a></li>
                        <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Ремонт трансмиссии</a></li>
                        <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Шиномонтаж</a></li>
                        <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Двигатель</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Контактная информация</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map-marker"></span><span class="text"> с. Долгодеревенское, улица 1 Мая, 39</span></li>
                            <li><a href="tel:+79028934851"><span class="icon fa fa-phone"></span><span class="text"> +7(902) 893-48-51</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text"> service-dar@yandex.ru</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Режим работы</h2>
                    <div class="opening-hours">
                        <h4>Открыты:</h4>
                        <p class="pl-3">
                            <span>Понедельник – Пятница: 9:00-19:00</span>
                            <span>Суббота - Воскресенье: 9:00-18:00</span>
                        </p>
                        <h4>Закрыты:</h4>
                        <p class="pl-3">
                            <span>Все официальные выходные</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>