{% load static %}

<nav id="ftco-navbar" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span> Menu
    </button>
    <div id="ftco-nav" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            Домой
          </a>
        </li>
        <li class="nav-item">
          <a href="/services" class="nav-link">
            Услуги
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prices">
            Цены
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog">
            Каталог
          </a>
        </li>
      </ul>
    </div>
    <div class="icons">
      <a href="/cart" class="icons-btn d-inline-block bag">
        <span class="icon-shopping-bag"></span>
        <span id="basket_total" class="number">{{ cart|length }}</span>
      </a>
    </div>
  </div>
</nav>

