{% extends 'indexpage/base.html' %}
{% load static %}

{% block title %}
index
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_item in product.productimage_set.all %}
                    <img src="{{ image_item.image.url }}" class="img-responsive">
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div class="">
                    <p>
                        Price: {{ product.price }}
                    </p>
                </div>
                <div class="">
                    {{ product.description }}
                </div>
            </div>
            <div>
                <form id="form_buying_product" class="d-flex flex-row align-items-center flex-wrap" action="{% url 'basket_adding' %}">{% csrf_token %}
                    <div class="mb-3">
                        <input type="number" class="form-control" name="number" id="number">
                    </div>
                    <div class="mb-3">
                        <button type="submit" id="submit_btn" class="btn btn-success btn-buy"
                            data-product-id = "{{ product.id }}"
                            data-name = "{{ product.name }}"
                            data-price = "{{ product.price }}"
                        >
                            Купить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}