<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center animated animatedFadeInUp fadeInUp">
                <span class="subheading">Услуги и сервис</span>
                <h2>Мы предлагаем услуги</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 services animated animatedFadeInUp fadeInUp">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-car-service"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Замена масла</h3>
                        <p>Периодическая замена масла является обязательной процедурой в каждом автомобиле.</p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-tyre"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Шиномонтаж</h3>
                        <p>Помимо услуг по замене шин предоставляем услуги по балансировке колес.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 services animated animatedFadeInUp fadeInUp">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-battery"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Мелкосрочный ремонт</h3>
                        <p>Выполняем услуги по ремонту ходовой части, тормозной системы.</p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-car-engine"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Двигатель</h3>
                        <p>Своевременно проведенная диагностика двигателя предотвращает проблемы с мотором.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 services animated animatedFadeInUp fadeInUp">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-tow-truck"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Ремонт трансмиссии</h3>
                        <p>Ремонт механических КПП, замена ШРУС, карданных валов и комплектов сцеплений.</p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-repair"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Техническое обслуживание</h3>
                        <p>От периодического обслуживания зависит надежная и безотказная работа любого автомобиля.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>