{% extends 'indexpage/base.html' %}
{% load static %}

{% block title %}
Корзина
{% endblock %}

{% block body %}
<div class="site-section">
    <div class="container">
        <div class="col-md-12">
            <div class="row mb-5">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Изображение</th>
                                <th class="product-name">Товар</th>
                                <th class="product-price">Цена</th>
                                <th class="product-quantity">Количество</th>
                                <th class="product-total">Сумма</th>
                                <th class="product-remove">Удалить</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                                {% with product=item.product %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="#" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">{{ product.name }}</h2>
                                        </td>
                                        <td>
                                            <span class="product-basket-price">
                                                {{ item.price }}
                                            </span>
                                        </td>
                                        <td>
                                            <form action="{% url 'cart:cart_add' product.id %}" method="post"
                                                class="add-to-cart-btn">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-primary js-btn-minus" type="button">−</button>
                                                    </div>
                                                    <input type="text" class="form-control text-center"
                                                           name="quantity" value="{{ item.quantity }}"
                                                           required="" id="id_quantity" placeholder=""
                                                           aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-primary js-btn-plus" type="button">+</button>
                                                    </div>
                                                </div>
                                                {{ item.update_quantity_form.update }}
                                                <button type="submit" class="btn btn-outline-primary btn-md btn-block">
                                                    Обновить
                                                </button>
                                                {% csrf_token %}
                                            </form>
                                        </td>
                                        <td>
                                            <span class="product-basket-sum">
                                                {{ item.total_price }}
                                            </span>
                                        </td>
                                        <td>
                                            <a href="{% url 'cart:cart_remove' product.id %}"
                                                class="btn btn-primary height-auto btn-sm">X</a>
                                        </td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <form action="{% url 'orders:order_create' %}" method="get"
                            class="col-md-6 mb-3 mb-md-0">
                            <button class="btn btn-primary btn-md btn-block">Оформить заказ</button>
                        </form>
                        <form action="/catalog" class="col-md-6">
                            <button class="btn btn-outline-primary btn-md btn-block">Продолжить покупки</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Итого</h3>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Сумма</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black" id="total_sum">{{ cart.get_total_price }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}