{% extends 'indexpage/base.html' %}
{% load static %}

{% block title %}
DAR
{% endblock %}

{% block body %}
<div class="hero-wrap">
    <div class="home-slider owl-carousel owl-loaded owl-drag">
        <div class="slider-item" style="background-image:url({% static 'img/bg_1.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start">
                    <div class="col-md-6 animated animatedFadeInUp fadeInUp">
                        <div class="text w-100">
                            <h2>Лучший автосервис в Долгодеревнском</h2>
                            <h1 class="mb-4">Ремонт и техническое обслуживание всех марок автомобилей</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url({% static 'img/bg_2.jpg' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start">
                    <div class="col-md-6 animated animatedFadeInUp fadeInUp">
                        <div class="text w-100">
                            <h2>Запчасти по низким ценам</h2>
                            <h1 class="mb-4">Закажите запчасти на сайте и получите недорогой ремонт</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'services/services_base.html' %}

{% include 'prices/prices_base.html' %}

{% endblock %}