<div class="col-lg-3">
    <div class="product-item">
        <div>
            <img src="/" class="img-responsive">
        </div>

        {% if product.discount %}
            <div class="discount-container">
                <span>{{product.discount}} %</span>
            </div>
        {% endif %}

        <a href="{% url 'product' product.id %}">
            <h4>{{ product.name }}</h4>
        </a>
        <p>
            {{ product.description|truncatechars_html:70 }}
        </p>
        <div class="add-to-cart-btn">
            <button class="btn btn-success">
                Добавить в корзину
            </button>
        </div>
    </div>
</div>
