{% extends 'indexpage/base.html' %}

{% block title %}
Каталог
{% endblock %}

{% block body %}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            {% for product_image in products_images %}
                {% include 'catalog/product_item.html' %}
            {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <div class="site-block-27">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                                </li>
                            {% endif %}
                            {% for p in page_obj.paginator.page_range %}
                                {% if page_obj.number == p %}
                                    <li class="active">
                                        <span>{{ p }}</span>
                                    </li>
                                {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %}
                                    <li>
                                        <a href="?page={{ p }}">{{ p }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}