{% load static %}

<div class="col-md-6 col-lg-3">
    <div class="product-item">
        <div class="text-center">
            <a class="block-20" href="{{ product_image.product.get_absolute_url }}"
                style="background-image: url('{% if product_image.image %}{{ product_image.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}');"></a>
            <span class="price">
                <sup>₽</sup>
                <span class="number">{{ product_image.product.price }}</span>
            </span>
            <div class="text">
                <h3 class="heading">
                    <a href="{{ product_image.product.get_absolute_url }}">
                        {{ product_image.product.name }}
                    </a>
                </h3>
            </div>
            <div class="pricing-text">
                <p>
                    {% if product_image.product.leftover %}
                        В наличии {{ product_image.product.leftover }}
                    {% else %}
                        Нет в наличии
                    {% endif %}
                </p>
            </div>
            <form class="add-to-cart"
                  action="{% url 'cart:cart_add' product_image.product.id %}" method="post">
                {{ cart_add_form.quantity.as_hidden }}
                {{ cart_add_form.update }}
                <button type="submit" class="btn btn-primary btn-md btn-block">
                    В корзину
                </button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
